.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 50px;
}

.App-link {
  color: #09d3ac;
}

.App-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.App-company-filter {
  display: flex;
}

.App-column {
  width: 30%;
}

.App-company-filter {
  display: flex;
}
